
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="m-5 p-3">
    <h2>Dashboard</h2>
    <hr />
    <a href="~/Medicines">Medicines</a>
    <hr />
    <a href="~/Users">Users</a>
    <hr />
    <a href="~/Patients">Patients</a>
    <hr />
    <a href="~/Prescriptions">Prescriptions</a>
    <hr />
</div>