
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Index</h2>
<a href="~/Account/AddMedicine"> Add Medicine</a>
<a href="~/Account/AllMedicines"> | All Medicines</a>
<a href="~/Account/MedicineChart"> | Medicine Chart</a>

