
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Dashboard</h2>
<hr />
<a class="appointment-btn" href="~/Medicines">Medicines</a>
<hr />
<a class="appointment-btn" href="~/Users">Users</a>
<hr />
