<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
   <img src="~/images/doctor.png" width="100"/>
    <br />
    <h1>WELCOME!</h1>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />